.resetContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 16px;
    background: linear-gradient(30deg, hsl(0, 0%, 100%), hsl(227, 98%, 78%) 40%);
    border-radius: 16px;
}

.resetCard{
    padding: 24px;
    border-radius: 8px;
    background-color: hsl(0, 0%, 100%);
    width: 400px;
}

.resetHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.resetHeaderText{
    font-size: 1.5em;
    font-family: roboto;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
}

.resetHeaderImg{
    height: 80px;
    width: 80px;
    margin-bottom: -10px;
}

.resetForm {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.resetInputs{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.inputWithIcon{
    position: relative;
}

.resetInput {
    padding: 15px 30px;
    font-size: 0.9em;
    font-family: roboto;
    font-weight: 400;
    color: hsl(0, 0%, 0%);
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 8px;
    width: 100%;
    background-color: hsl(0, 4%, 95%);
}

.icons{
    font-size: 1.2em;
    color: hsl(0, 0%, 50%);
    position: absolute;
    left: 8px;
    top: 16px;
}

.showPassword{
    font-size: 1.2em;
    position: absolute;
    top: 16px;
    right: 10px;
    font-size: 1em;
    color: hsl(0, 0%, 50%);
    cursor: pointer;
}

.resetButton {
    padding: 15px;
    font-size: 1em;
    font-family: roboto;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    background-color: hsl(227, 99%, 58%);
    border: 2px solid hsl(227, 98%, 78%);
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
}

.signUp{
    font-size: 1em;
    font-family: roboto;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-top: 10px;
}

.signUp span{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    cursor: pointer;
}

.signUp span:hover{
    color: hsl(225, 99%, 66%);
}

.error{
    font-size: 0.8em;
    font-family: roboto;
    font-weight: 400;
    color: hsl(0, 100%, 50%);
    margin-top: 4px;
}