.navBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: hsl(225, 99%, 46%);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
    padding: 0px 100px;
}

.navLogo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.navLogo > a {
    font-size: 1.2em;
    font-family: 'Roboto';
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.navImg {
    width: 50px;
    height: 50px;
}

.navBtns {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navLinks {
    display: flex;
    gap: 20px;
}

.navLinks a {
    font-size: 1em;
    font-family: roboto;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.navLinks a:hover {
    transform: scale(110%);
}

.signUpBtn {
    font-size: 1em;
    font-family: roboto;
    font-weight: 500;
    color: hsl(225, 99%, 46%);
    border: none;
    border-radius: 50px;
    padding: 10px 15px;
    background-color: hsl(0, 0%, 100%);
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.signUpBtn:hover {
    background-color: hsl(0, 0%, 90%);
}