.footerContainer {
    display: flex;
    padding: 0 110px;
    margin: 70px 0;
    gap: 30px;
    align-items: start;
}

.side1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
}

.side2 {
    width: 30%;
    display: flex;
    gap: 100px;
}

.footerImg {
    width: 300px;
    height: 50px;
    object-fit: cover;
    margin-left: -60px;
    margin-bottom: -25px;
}

.bottom {
    width: 100%;
    padding-top: 16px;
    position: relative;
}

.bottom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.5px; /* thickness of the border */
  background: linear-gradient(to right, hsl(240, 100%, 50%), hsl(0, 0%, 100%));
}

.footerContainer h3 {
    font-size: 0.9em;
    font-family: roboto;
    font-weight: 400;
    color: hsl(224, 74%, 20%);
}

.bottom h3 {
    font-size: 1.2em;
}

.footerContainer a {
    font-size: 0.8em;
    font-family: roboto;
    font-weight: 400;
    color: hsl(224, 74%, 20%);
}

.bottom a {
    color: hsl(223, 18%, 67%);
}

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}