.loginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 24px;
    background: linear-gradient(30deg, hsl(0, 0%, 100%), hsl(227, 98%, 78%) 40%);
    border-radius: 16px;
}

.loginCard{
    padding: 24px;
    border-radius: 8px;
    background-color: hsl(0, 0%, 100%);
}

.loginHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginHeaderText{
    font-size: 1.5em;
    font-family: roboto;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
}

.loginHeaderImg{
    height: 80px;
    width: 80px;
    margin-bottom: -10px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.loginInputs{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.inputWithIcon{
    position: relative;
    display: flex;
    flex-direction: column;
}

.loginInput {
    padding: 15px 30px;
    font-size: 0.9em;
    font-family: roboto;
    font-weight: 400;
    color: hsl(0, 0%, 0%);
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 8px;
    width: 250px;
    background-color: hsl(0, 4%, 95%);
}

.icons{
    font-size: 1.2em;
    color: hsl(0, 0%, 50%);
    position: absolute;
    left: 8px;
    top: 16px;
}

.showPassword{
    font-size: 1.2em;
    position: absolute;
    top: 16px;
    right: 10px;
    font-size: 1em;
    color: hsl(0, 0%, 50%);
    cursor: pointer;
}

.loginActions{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.loginButton {
    padding: 15px;
    font-size: 1em;
    font-family: roboto;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    background-color: hsl(227, 99%, 58%);
    border: 2px solid hsl(227, 98%, 78%);
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
}

.forgotPassword{
    font-size: 0.9em;
    font-family: roboto;
    font-weight: 400;
    color: hsl(0, 1%, 27%);
    cursor: pointer;
    text-align: center;
}

.forgotPassword:hover{
    color: hsl(225, 99%, 46%);
}

.signUp{
    font-size: 1em;
    font-family: roboto;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-top: 10px;
}

.signUp span{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    cursor: pointer;
}

.signUp span:hover{
    color: hsl(225, 99%, 66%);
}

.error {
    color: red;
    font-size: 0.8em;
    font-family: roboto;
    margin-top: 4px;
}