.overviewContainer{
    display: flex;
    padding: 24px;
    gap: 16px;
    height: 91vh;
}

.coursesInProgress, .recommendedCourses{
    margin-top: 50px;
}

.overviewCourses{
    flex: 2;
    overflow-y: auto;
}

.headers{
    font-size: 1.5em;
    font-family: roboto;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
}

.headers::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 45%;
  width: 10%;
  height: 3px;
  background-color: hsl(240, 100%, 50%);
  border-radius: 8px;
  margin-top: 3px;
}

.coursesList{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.courseCard{
    display: flex;
    align-items: stretch;
    gap: 5px;
    width: 90%;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 3px 3px 6px hsla(0, 0%, 0%, 0.25);
    transition: background-color 0.2s ease-in-out;
}

.courseImage{
    width: 30%;
    object-fit: cover;
    border-radius: 8px;
}

.courseDetails{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.courseTitle{
    font-size: 1.2em;
    font-family: roboto;
    font-weight: 500;
}

.courseDescription{
    font-size: 1em;
    font-family: roboto;
    font-weight: 400;
    color: hsl(0, 0%, 45%);
}

.courseLessons{
    font-size: 0.9em;
    font-family: roboto;
}

.courseLessons span{
    color: hsl(0, 0%, 75%);
}

.resumeButton, .enrollButton{
    font-size: 1em;
    font-family: roboto;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    background-color: hsl(224, 99%, 46%);
    width: fit-content;
    padding: 10px 20px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}

.overviewStats{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin-top: 30px;
    overflow-y: auto;
}

.statsHeader{
    font-size: 1.5em;
    font-family: roboto;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
}

.statsHeader::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 45%;
    width: 30%;
    height: 3px;
    background-color: hsl(240, 100%, 50%);
    border-radius: 8px;
    margin-top: 3px;
}

.statCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 24px;
    gap: 8px;
    width: 90%;
    background-color: hsl(224, 99%, 46%);
    box-shadow: 3px 3px 6px hsla(0, 0%, 0%, 0.25);
}

.statIcon{
    display: flex;
    align-items: center;
    gap: 5px;
}

.statIcon i{
    font-size: 3em;
    color: hsl(0, 0%, 100%);
}

.statIcon h3{
    font-size: 2.5em;
    font-family: roboto;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
}

.statDetails{
    font-size: 1em;
    font-family: roboto;
    font-weight: 500;
    text-align: center;
    color: hsl(0, 0%, 100%);
}