.pricingSection {
    border-radius: 24px;
    background: hsl(224, 99%, 46%);
    padding: 128px 128px 0px 128px;
    margin-top: 120px;
}

.pricing {
    display: flex;
    justify-content: space-between;
}

.pricing > h2 {
    font-size: 2.5em;
    font-family: roboto;
    font-weight: 450;
    color: hsl(0, 0%, 100%);
    max-width: 500px;
}

.priceCard {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    padding: 36px;
    border-radius: 16px;
    gap: 30px;
    width: 45%;
}

.billingTime {
    display: flex;
    background-color: hsl(227, 100%, 96%);
    width: fit-content;
    padding: 5px;
    border-radius: 34px;
}

.billing {
    font-size: 1.3em;
    font-family: roboto;
    font-weight: 500;
    padding: 10px 20px;
    color: hsl(224, 84%, 51%);
    cursor: pointer;
}

.billingActive{
    background-color: hsl(224, 99%, 46%);
    border-radius: inherit;
    color: hsl(0, 0%, 100%);
}

.priceCard  h2 {
    font-size: 3em;
    font-family: roboto;
    font-weight: 500;
    color: hsl(224, 100%, 15%);
}

.priceCard  span {
    color: hsl(224, 84%, 73%);
}

.priceCard p {
    font-size: 1em;
    font-family: roboto;
    color: hsl(224, 18%, 75%);
}

.benefit {
    display: flex;
    gap: 10px;
}

.benefit h3 {
    font-size: 1.3em;
    font-family: roboto;
    font-weight: 400;
    color: hsl(224, 100%, 15%);
}

.benefit i {
    font-size: 2em;
    color: hsl(224, 99%, 46%);
}

.button {
    padding: 15px 20px;
    font-size: 1rem;
    font-family: roboto;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    background-color: hsl(227, 99%, 58%);
    border: 8px solid hsl(227, 96%, 90%);
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.testimonials {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin-top: 100px;
}

.testimonials > h2 {
    font-size: 2em;
    font-family: roboto;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
}

.testimonialCards {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    grid-template-rows: repeat(6, 2fr);
    gap: 24px;
}

.testimonialCard {
    grid-column: span 2;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 24px;
    padding: 24px;
    align-items: start;
    height: fit-content;
}

.testimonialCard > h3 {
    font-size: 1.3em;
    font-family: roboto;
    font-weight: 400;
    line-height: 24px;
    color: hsl(224, 78%, 19%);
    margin-bottom: 40px;
}

.testimonialInfo {
    display: flex;
    gap: 10px;
}

.testimonialInfo h4 {
    font-size: 1em;
    font-family: roboto;
    font-weight: 500;
    color: hsl(224, 78%, 19%);
}

.testimonialInfo p {
    font-size: 0.8em;
    font-family: roboto;
    font-weight: 400;
    color: hsl(224, 18%, 59%);
}

.testimonialInfo img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}

.card1{
    rotate: -4deg;
}

.card2{
    margin-top: -10px;
    rotate: 4deg;
}

.card3 {
    margin-bottom: -10px;
    rotate: -2deg;
}

.card4{
    rotate: -1deg;
}

.card5 {
    margin-top: -30px;
    rotate: -1deg;
}

.card6 {
    margin-top: -20px;
    rotate: 2deg;
}

.card7 {
    margin-top: -30px;
    rotate: 3deg;
}

.card8 {
    margin-top: -60px;
    rotate: 1deg;
}

.card9 {
    margin-top: -30px;
    rotate: 2deg;
}